.note,
.text-select,
.text-selected {
  text-shadow: 3px 3px 5px rgb(79 79 79);
}

.note-selected,
.note-select {
  /* background-color: #f0f0f0; */
  width: 300px;

  font-size: 10rem;
  text-align: center;
  font-family: fantasy;
}

.note-selected {
  background: rgba(255, 255, 255, 0.01) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  background-image: linear-gradient(135deg, #fa833ed0 0%, #ffc53386 100%) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: #ffffff !important;
}

.note-select {
  color: #ffa54f !important;
  background: rgba(255, 255, 255, 0.33) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.text-select,
.text-selected {
  font-size: 1.5rem;
  text-align: center;
  font-family: fantasy;
}

@media (max-width: 600px) {
  .note-selected,
  .note-select {
    font-size: 6rem;
  }
}
